@use "../../styles/utilities/variables" as *;
.hero {
  background-image: url("../../assets/images/Texture.png"),
    url("../../assets/images/Background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-top: 4rem;
  padding-bottom: 10.1875rem;
}

.heroTitle {
  text-align: center;
  margin-bottom: 6.4375rem;
}

.fetchingText {
  color: $primary-blue;
  font-size: 1.25rem;
}

.pokemons {
  grid-template-columns: repeat(5, 1fr);
  column-gap: 5.75rem;
  row-gap: 2.5rem;
}

// Slider styles
.swiperContainer {
  display: none;
  position: relative;
}

.swiperNext::after,
.swiperPrev::after {
  content: "";
}

.swiperPrev:global(.swiper-button-disabled) {
  opacity: 0;
}

.swiperNext:global(.swiper-button-disabled) {
  opacity: 0;
}

// Article section
.articles {
  position: relative;
  overflow: hidden;
  padding-block: 5.9375rem;
  h2 {
    text-align: center;
    font-family: "UbuntuBold";
    font-weight: 700;
    font-size: 48px;
    line-height: 55px;
    text-align: center;
    color: #257bc4;
    background-image: url("../../assets/images/Brush.png");
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 4rem;
  }
}

.leftSideAnimation,
.rightSideAnimation {
  --imageHeight: 1080px;
  position: absolute;
  background: url("../../assets/images/Left.png") repeat-y;
  z-index: -1;
  width: 139px;
  height: calc(var(--imageHeight) * 2);
  animation: slide 12s linear infinite;
}

.leftSideAnimation {
  left: 0;
  top: 0;
  bottom: 0;
}

.rightSideAnimation {
  right: 0;
  top: 0;
  bottom: 0;
}

.articlesContent {
  grid-template-columns: 7fr 5fr;
  column-gap: 1.625rem;

  p {
    font-family: "UbuntuLight";
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    text-align: justify;
  }
}

.imgBetween {
  display: none;
  text-align: center;
}

.articlesContent {
  // Right content
  .innerTopContent {
    grid-template-columns: 10fr 2fr;
    column-gap: 1.625rem;
  }
}

@keyframes slide {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(calc(var(--imageHeight) * -1));
  }
}

@media (max-width: $breakpoint-xxl) {
  .pokemons {
    grid-template-columns: repeat(auto-fit, minmax(235px, 1fr));
  }
  .articlesContent {
    grid-template-columns: 1fr;
    row-gap: 1.625rem;
  }

  .news2 {
    display: flex;
    gap: 1.5rem;

    div:first-child {
      align-items: start;
    }

    & > p {
      margin-top: 0;
    }
  }

  .rightContent {
    .innerMiddleContent {
      display: flex;
      gap: 1.625rem;
    }
  }
}

@media (max-width: $breakpoint-xl) {
  .pokemons {
    column-gap: 1rem;
  }
  .innerMiddleContent {
    & > div {
      align-items: start;
      margin-block: 1rem;
    }
  }
}

@media (max-width: $breakpoint-lg) {
  .heroTitle {
    margin-bottom: 2.25rem;
  }
  .articles {
    h2 {
      font-size: 1.5rem;
      line-height: 28px;
      background-size: 25%;
      margin-bottom: 1.5rem;
    }
  }
  .leftSideAnimation,
  .rightSideAnimation {
    display: none;
  }

  .leftNewsContainer {
    div:first-child {
      grid-template-columns: 1fr;
    }
    img,
    p:not(.news1) {
      display: none;
    }
  }

  .rightContent {
    div:not(.innerTopContent) {
      display: none;
    }
  }

  .imgBetween {
    display: block;
    img {
      width: 100%;
    }
  }
}

@media (max-width: $breakpoint-md) {
  .articles {
    h2 {
      background-size: 35%;
    }
  }
}

@media (max-width: $breakpoint-sm) {
  .hero {
    background-image: url("../../assets/images/small-bg.png");
    padding-bottom: 2.75rem;
    padding-top: 2.625rem;
  }
  .pokemons {
    display: none;
  }

  .swiperContainer {
    display: block;
  }

  .articles {
    h2 {
      background-size: 45%;
    }
  }
}
